absl-py==0.9.0
alabaster==0.7.12
altgraph==0.16.1
appdirs==1.4.3
astor==0.8.1
astroid==2.3.3
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.0
breezy==3.0.2
Brlapi==0.7.0
btrfsutil==1.1.1
CacheControl==0.12.6
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.3
configobj==5.0.6
contextlib2==0.6.0
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
docutils==0.14
dulwich==0.19.15
entrypoints==0.3
fastimport==0.9.8
Flask==1.1.1
GDAL==3.0.4
h5py==2.10.0
html5lib==1.0.1
idna==2.8
imagesize==1.2.0
importlib-metadata==1.4.0
ipykernel==5.1.3
ipython==7.12.0
ipython-genutils==0.1.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lensfun==0.3.95
lockfile==0.12.2
louis==3.12.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.1.0
msgpack==0.6.2
namcap==3.2.10
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.4
nltk==3.4.5
notebook==6.0.2
numpy==1.18.1
ordered-set==3.1.1
OWSLib==0.19.0
packaging==20.0
pandas==1.0.1
pandas-datareader==0.8.1
pandocfilters==1.4.2
parso==0.6.1
patiencediff==0.1.0
patsy==0.5.1
pep517==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.3.0
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
psutil==5.6.7
psycopg2==2.8.4
ptyprocess==0.6.0
pwquality==1.4.2
pyalpm==0.9.1
pycairo==1.19.0
pycodestyle==2.5.0
pyelftools==0.26
pyflakes==2.1.1
Pygments==2.5.2
PyGObject==3.34.0
PyInstaller==4.0.dev0+1eadfa55f2
pylint==2.4.4
PyOpenGL==3.1.5
pyparsing==2.4.6
pyproj==2.4.0
PyQt5-sip==4.19.19
pyrsistent==0.15.7
python-dateutil==2.8.1
python-libtorrent==1.2.3
python-slugify==4.0.0
pytoml==0.1.21
pytz==2019.3
pyxdg==0.26
PyYAML==5.3
pyzmq==18.1.1
QtAwesome==0.6.0
QtPy==1.9.0
rados==2.0.0
rbd==2.0.0
requests==2.22.0
retrying==1.3.3
rgw==2.0.0
rope==0.16.0
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
sip==4.19.21
six==1.14.0
snowballstemmer==2.0.0
soupsieve==1.9.5
Sphinx==2.4.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder-kernels==0.5.2
SQLAlchemy==1.3.13
statsmodels==0.10.2
team==1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
tornado==6.0.3
tqdm==4.28.1
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.8
virtualenv==16.7.9
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.1
Whoosh==2.7.4
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==1.0.0
